//- vim: ft=pug sw=2 ts=2 et tw=100 cc=101
include mixins.pug

title Anthony Carapetis - Curriculum Vitae
style
  include:sass style.sass
//-meta(name='viewport', content='width=device-width, initial-scale=1.0')

.page
  #heading
    .main
      h1 Anthony Carapetis
      h2 Curriculum Vitae
    .contact
      include private.pug
      .email
        a(href='mailto:anthony.carapetis@gmail.com') anthony.carapetis@gmail.com
      .website
        a(href='https://a.carapetis.com') a.carapetis.com
        
  +section('At a Glance')
    .columns
      .item
        .titleline 
          span.title Who I am
        :markdown-it
          - Software developer with deep experience in web technologies, &nbsp; data manipulation and
            software systems integration.
          - Mathematics PhD in geometry and differential equations. Also experienced in numerical
            simulation and modelling.
      .item
        .titleline 
          span.title My Toolbox
        :markdown-it
          - Python, Perl, JavaScript/ES6+, Java
          - HTML5, CSS3, Browser APIs
          - MySQL, SQLite, PostgreSQL
          - Linux, AWS, Terraform, Docker, Git

  +section('Work History')
    +item(title='Software Engineer',
          from='Jan 2019',
          contract=true,
          institution='Geoscience Australia',
          where='Canberra')
      :markdown-it
        As the lead developer for the National Earthquake Alerts Centre, I am responsible for
        software systems that produce, store and disseminate information associated with earthquakes
        and other seismic events. I have:

          - Continuously maintained and enhanced the earthquake alerts and analysis system, which is
            a mix of open-source, proprietary and bespoke software deployed on **AWS** using
            **Terraform**. 
          - Developed pipelines to ingest, transform and integrate various data sources.
          - Architected and developed a custom data catalogue for the storage, quality control, and
            dissemination of earthquake-related data products of all kinds &mdash; from raw
            seismograms through to news articles.  I built this system using **Python** on
            **AWS**, with geospatial indexing powered by **PostGIS**, with an interactive 
            frontend built on Web Components.
          - Integrated the USGS ShakeMap modelling software into our automated workflow, allowing
            the Centre to rapidly estimate and visualize the areas most effected by an earthquake.
            This included a lot of custom configuration and the addition of several new features,
            which I contributed back to the USGS repository.

    +item(title='Software Engineer',
          from='May', to='Dec 2018',
          institution='CSIRO',
          where='Canberra')
      :markdown-it
        A fixed-term position at the *High Resolution Plant Phenomics Centre* developing software
        for agriculture and plant science.
        My main focus was developing infrastructure to exploit time series data gathered from sensor
        networks:
          - Streamlined data ingest processes and set up a new storage and aggregation solution
            using **InfluxDB**.
          - Built a REST API to manage and retrieve time series data and metadata.
          - Designed and developed a web dashboard on top of this API to provide diagnostics and
            basic data visualization. Used **JavaScript**, including the visualization libraries
            **D3.js** and **Plotly.js** along with modern web standards (**HTML5**, **SVG**,
            **CSS3** transitions, **ES** modules, **Web Components**, etc.).

        This work was integrated into an existing web application built on a
        **Linux**+**Apache**+**SQLite**+**PHP** stack.
        I also contributed to the development of other projects, including an internal business
        database built in **Java**/**Spring** and deployed using **Docker**.

    +item(title='Casual Sessional Teacher',
          from=2015, to=2017,
          institution='Australian National University',
          where='Canberra')
      p Teaching and marking for undergraduate classes in mathematics and astrophysics.

    +item(title='Software Developer',
          from=2006, to=2013,
          institution='Unisolve Pty Ltd',
          where='Melbourne')
      :markdown-it
        Design and full-stack development of web applications for various clients, along with
        administration of associated systems and databases.

        I worked on various large web applications, mostly built on **Linux**+**Apache**+**Perl**
        and backed by **MySQL** or **PostgreSQL**. On the frontend, I used JavaScript to create
        interactive user experiences.  Many of these applications were part of accounting and
        resource management systems that interfaced with older proprietary software; so I became
        proficient in systems integration and data munging/wrangling/ETL.

        I was also involved in developing simple deployment architecture, scheduled
        processing/reporting tasks, and automated backups; so I have extensive experience using
        shell scripts, cron jobs and daemons to automate systems.

.page
  +section('Work History (Continued)')
    +item(title='Casual Sessional Teacher',
          when='2012',
          institution='Monash University',
          where='Melbourne')
      p Teaching and marking for undergraduate engineering calculus.

  +section('Education')
    +item(title='Doctor of Philosophy (Mathematics)',
      from=2013, to=2018,
      institution='Australian National University',
      where='Canberra')
        :markdown-it
          **PhD Thesis:** 
          [*Geometric Flows of Diffeomorphisms*](https://openresearch-repository.anu.edu.au/handle/1885/142453)  
          **Supervisor:** Ben Andrews  
          Geometric flows hijack the physics of heat flow to study geometry: by making a
          mathematical analogy between "spikiness" and heat, we can deform poorly-understood spiky
          objects to simple smooth ones; and by understanding the mathematical properties of this
          deformation we can derive new knowledge about the spiky things we started with. In my
          thesis research, I applied this methodology to a previously unstudied class of flow. 

    +item(title='Bachelor of Science Advanced (with Honours)',
      from=2009, to=2012,
      institution='Monash University',
      where='Melbourne')
        :markdown-it
          **Majors:** Mathematics, Physics  
          **Honours Thesis:** *The Riemannian Penrose Inequality and the Inverse Mean Curvature Flow*  
          **Supervisor:** Gilbert Weinstein  
          The universe should weigh at least as much as the biggest black hole it contains, but the
          mathematical embodiment of this fact (the Penrose Inequality) is remarkably difficult to
          derive from general relativity: it took until 1999 for even a special case to be proven.
          This thesis was an exposition of the problem and its solution intended for a slightly less
          expert audience.

  +section('Undergraduate Research')
    +item(title='Summer Vacation Research Scholarship',
      from=2011, to=2012,
      institution='Monash University',
      where='Melbourne')
        :markdown-it
          Reading project on the problem of *minimal surfaces*: if you dip a wonky loop of wire in a
          bucket of soapy water, what is the shape of the resulting bubble? The techniques developed
          to study this problem are now ubiquitous in physics and geometry.

    +item(title='Mathematics Research Project',
      when=2011,
      institution='Monash University',
      where='Melbourne')
        :markdown-it
          Reading project in *comparison geometry*, the quantitative study of how the familiar
          relationships of lengths and angles change when we work on a curved surface (or in a
          curved space).

    +item(title='Mathematics Research Project',
      from=2010, to=2011,
      institution='AMSI/Monash University',
      where='Melbourne')
        :markdown-it
          Numerical investigation of *p*-adic zeta functions using the mathematical programming
          language PARI/GP. Culminated in a presentation at the CSIRO Big Day In.

  +section('Other Experience')
    +item(title="Some things don't come from work or school.",noline=true)
      :markdown-it
        - Computational Mathematics/Visualization: as a spin-off from my thesis research, I combined
        numerical simulations of partial differential equations with my expertise in frontend web
        development to develop interactive visualizations of some geometric flows, which you can
        play with online at 
        [a.carapetis.com/csf/](https://a.carapetis.com/csf/) (**JavaScript** + **Canvas**) and 
        [a.carapetis.com/diff_flow/](https://a.carapetis.com/diff_flow/) (**PixiJS**).
        - My professional history has been concentrated on a few languages, but I have hobbyist
        experience with many others, including **Ruby**, **C++**, **TypeScript** and **Haskell**.
        - Graphic design (free and small freelance projects) using **Inkscape** and **GIMP**.

  .footer
      | This document was typeset using HTML and CSS3. See 
      a(href='https://github.com/acarapetis/cv') github.com/acarapetis/cv
      |  for the source code.

template#page-header
  div.blank

template#page-footer
  div.blank
