mixin section(title)
  .sectionwrapper
    .section
      .headline
        h2= title
      ul
        block

mixin item
  li.itemwrapper
    div(class=(attributes.noline ? 'noline item' : 'item'))
      .titleline
        span.title #{attributes.title}
        .spacetime
          if attributes.when
            .when= attributes.when
          else if attributes.from
            .when
              | #{attributes.from}&ndash;
              if attributes.to
                | #{attributes.to}
          if attributes.institution
            .institution
              if attributes.contract
                | under contract to 
              strong #{attributes.institution}
          if attributes.where
            .where= attributes.where
      .description
        block

